@import "./../../style/variables";
@import "./../../style/mixins";

.button {
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
}

.button {
  &_default {
    border: 1px solid $biscayColor;
    background: $whiteColor;
    text-transform: uppercase;
    @include font($hebrewRegular, 13px, $biscayColor);
  }

  &_primary {
    &:hover {
      opacity: .9;
    }
  }

  &_info {
    &:hover {
      opacity: .9;
    }
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }

  &_primary {
    background: $biscayColor;
    text-transform: uppercase;
    @include font($hebrewRegular, 13px, $whiteColor);
  }

  &_info {
    background: $curiousBlueColor;
    text-transform: uppercase;
    @include font($hebrewRegular, 13px, $whiteColor);
  }
}