@font-face {
  font-family: 'Open Sans Hebrew Bold';
  src: url(/assets/fonts/open-sans-hebrew/OpenSansHebrew-Bold.ttf);
}

@font-face {
  font-family: 'Open Sans Hebrew Light';
  src: url(/assets/fonts/open-sans-hebrew/OpenSansHebrew-Light.ttf);
}

@font-face {
  font-family: 'Open Sans Hebrew Regular';
  src: url(/assets/fonts/open-sans-hebrew/OpenSansHebrew-Regular.ttf);
}