<ng-container [formGroup]="form">
  <div class="form-group-name">date & time</div>
  <div class="form-group form-group_multiple">
    <input type="text" class="form-control input-control" placeholder="select a date" formControlName="startDate">
    <input type="text" class="form-control input-control" placeholder="select your time" formControlName="startTime">
  </div>
  <div class="form-group form-group_multiple">
    <input type="text" class="form-control input-control" placeholder="select a date" formControlName="endDate">
    <input type="text" class="form-control input-control" placeholder="select your time" formControlName="endTime">
  </div>
  <div class="form-group form-group_services form-group_multiple">
    <div class="form-control hours">
      <div class="form-group-name">store hours</div>
      <div class="hours">
        <div class="week-day">MON-WED</div>
        <div class="hour">08:00 AM - 05:00 PM</div>
      </div>
      <div class="hours">
        <div class="week-day">MON-WED</div>
        <div class="hour">08:00 AM - 05:00 PM</div>
      </div>
      <div class="hours">
        <div class="week-day">MON-WED</div>
        <div class="hour">08:00 AM - 05:00 PM</div>
      </div>
      <div class="hours">
        <div class="week-day">MON-WED</div>
        <div class="hour">08:00 AM - 05:00 PM</div>
      </div>
      <div class="close">close</div>
    </div>
    <div class="form-control services">
      <div class="form-group-name">choose your services</div>
      <div class="description">Please select the type of service(s) needed</div>
      <label class="checkbox-control">Transmission
        <input type="checkbox" class="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-control">Vehicle Maintenance
        <input type="checkbox" class="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-control">Vehicle Rapair
        <input type="checkbox" class="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-control">Other
        <input type="checkbox" class="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</ng-container>
