<ng-container [formGroup]="form">
  <div class="form-group-name">your vehicle</div>
  <div class="form-group form-group_multiple">
    <input type="number" class="form-control input-control" placeholder="year of car" formControlName="yearOfCar">
    <input type="text" class="form-control input-control" placeholder="select your car" formControlName="car">
  </div>
  <div class="form-group">
    <input type="text" class="form-control input-control" placeholder="write your message" formControlName="message">
  </div>
  <div class="form-group-name">Personal details</div>
  <div class="form-group form-group_multiple">
    <input type="text" class="form-control input-control" [class.form-control_error]="shouldShowErrorOf('firstName')" placeholder="First name" formControlName="firstName">
    <input type="text" class="form-control input-control" placeholder="Second name" formControlName="secondName">
  </div>
  <div class="form-group form-group_multiple">
    <input type="text" class="form-control input-control" [class.form-control_error]="shouldShowErrorOf('email')" placeholder="E-mail" formControlName="email">
    <input type="number" class="form-control input-control" placeholder="Phone Number" formControlName="telephone">
  </div>
  <div class="form-group form-controls">
    <button aamcoButton class="reset-button" type="reset">Clear</button>
    <button aamcoButton="primary" class="submit-button" type="submit">Send</button>
  </div>
</ng-container>
