@import "./../../style/forms";

:host {
  display: block;
}

.form-controls {
  justify-content: space-between;
  margin: 0;
}

@include respond-to($mediumScreen) {
  .reset-button,
  .form-controls {
    margin-bottom: 25px;
  }
}