<section class="top container">
  <img src="./../../../../assets/images/logo.png" alt="logo" class="logo">
  <div class="contacts">
    <div class="links">
      <a href="#" class="link">Schedule an appointment</a>
      <a href="#" class="link">Locate a service center</a>
    </div>
    <div class="direct">
      <div class="label">
        <div>your aamco is</div>
        <div class="pointer">taylorsville ut</div>
      </div>
      <div class="telephone">
        (801) 783.32.80
      </div>
    </div>
  </div>
</section>
<div class="divider"></div>
<aamco-navigation class="container navigation" [navigationItems]="navigationItems"></aamco-navigation>