<div class="container categories">
  <div class="category">
    <img src="./../../../assets/images/logo.png" alt="logo" class="logo">
  </div>
  <div class="category">
    <div class="title">category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
  </div>
  <div class="category">
    <div class="title">category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
  </div>
  <div class="category">
    <div class="title">category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
  </div>
  <div class="category">
    <div class="title">category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
  </div>
  <div class="category">
    <div class="title">category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
    <div>category</div>
  </div>
</div>
<div class="divider"></div>
<div class="container socials">
  <div>
    <div>connect with us</div>
    <div class="links">
      <a class="fa fa-facebook icon"></a>
      <a class="fa fa-twitter icon"></a>
      <a class="fa fa-google-plus icon"></a>
    </div>
  </div>
</div>